@import url(./__title/team__title.css);
@import url(./__description/team__description.css);
@import url(./__wrap/team__wrap.css);
@import url(./__slider/team__slider.css);
@import url(./__controls/team__controls.css);
@import url(./__arrow/team__arrow.css);
@import url(./__slide/team__slide.css);
@import url(./__photo/team__photo.css);
@import url(./__info-group/team__info-group.css);
@import url(./__info/team__info.css);
@import url(./__name/team__name.css);
@import url(./__job/team__job.css);
@import url(./__text/team__text.css);
@import url(./__social-item/team__social-item.css);
@import url(./__social-links/team__social-links.css);
@import url(./__social-link/team__social-link.css);
@import url(./__social-icon/team__social-icon.css);

.team {
  margin: 0 auto;
  background-color: #151313;
  padding-bottom: 40px;
}

@media screen and (max-width: 1150px) {
  .team {
    padding-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .team {
    padding-bottom: 40px;
  }
}