.pets__gallery-item_type_previous {

}

@media screen and (max-width: 1100px) {
  .pets__gallery-item_type_previous {
    left: 45%;
    transform: translateX(-50%);
    opacity: .2;
    z-index: 1;
  }
}

@media screen and (max-width: 700px) {
  .pets__gallery-item_type_previous {
    left: 48%;
  }
}