.pets__gallery-item_type_selected {

}

@media screen and (max-width: 1100px) {
  .pets__gallery-item_type_selected {
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }
}

@media screen and (max-width: 700px) {
  .pets__gallery-item_type_selected {
    /* left: 50%;
    transform: translateX(-50%); */
  }
}