.team__slide {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  /* для слайдера */
  flex-basis: 50%;
  flex-shrink: 0;
  /* width: 50%; */
  /* flex: 1; */
}

@media screen and (max-width: 1150px) {
  .team__slide {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .team__slide {
    margin-top: -15px;
    flex-direction: column;
  }
}