.page {
  width: 100%;
  /* background-color: #1F1C1D; */
  margin: 0 auto;
  font-size: 16px;
  font-family: 'Roboto', 'Yeseva One', Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}