.qa__question-button {
  margin: 0;
  padding: 43px 100px 43px 40px;
  width: 100%;
  position: relative;
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.18;
  background-color: transparent;
  color: #ddd0c3;
  border: none;
  border-bottom: 0.5px solid rgba(160, 123, 80, 0.4);
  outline: none;
  cursor: pointer;
}

.qa__question-button::after {
  display: block;
  content: "";
  background: url(../../../images/plus.svg) no-repeat center transparent;
  width: 104px;
  height: 100%;
  transition: transform 0.3s ease-out;
  position: absolute;
  right: 0;
  top: 0;
}

.qa__question-button:hover::after {
  transform: rotate(90deg);
}

@media screen and (max-width: 1000px) {
  .qa__question-button {
    padding: 28px 140px 28px 30px;
    padding-left: 30px;
  }

  .qa__question-button::after {
    width: 73px;
  }
}

@media screen and (max-width: 600px) {
  .qa__question-button {
    padding: 15px 40px 15px 15px;
    font-size: 0.875rem;
    line-height: 1.42;
  }

  .qa__question-button::after {
    width: 43px;
  }
}
