.care__item-text {
  margin: 0;
  padding: 5px 0 0 0;
  width: 390px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.64;
  color: white;
}

@media screen and (max-width: 600px) {
  .care__item-text {
    width: 180px;
    line-height: 1.42;
  }
}