.team__photo {
  object-fit: cover;
  width: 360px;
  height: 360px;
  position: relative;
  top: -21px;
  right: -55px;
}

@media screen and (max-width: 1150px) {
  .team__photo {
    width: 220px;
    height: 220px;
    top: -110px;
    right: -150px;
  }
}

@media screen and (max-width: 900px) {
  .team__photo {
    right: -100px;
  }
}

@media screen and (max-width: 600px) {
  .team__photo {
    width: 126px;
    height: 126px;
    z-index: 2;
    top: 50px;
    right: 0;
  }
}