.arrow_type_next {
  background-image: url(../../../../images/arrow-gold_right.svg);
  top: 215px;
  left: 1085px;
}

@media screen and (max-width: 1150px) {
  .arrow_type_next {
    top: 508px;
    bottom: 0;
    right: 0;
    left: 640px;
  }
}

@media screen and (max-width: 900px) {
  .arrow_type_next {
    top: 490px;
    left: 516px;
  }
}

@media screen and (max-width: 600px) {
  .arrow_type_next {
    top: 104px;
    left: 232px;
  }
}
