.pets__prev-arrow {
  position: absolute;
  background-image: url(../../../images/arrow-gold_left.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 14px 30px;
  width: 14px;
  height: 30px;
  outline: none;
  border: none;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 1100px) {
  .pets__prev-arrow {
    display: block;
    top: 50%;
    left: 14px;
    bottom: 0;
    right: 0;
  }
}

@media screen and (max-width: 700px) {
  .pets__prev-arrow {
    left: 5%;
  }
}
