.team__prev-arrow {
  position: absolute;
  top: 215px;
  left: 0;
  background-image: url(../../../images/arrow-gold_left.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 14px 30px;
  width: 14px;
  height: 30px;
  outline: none;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .team__prev-arrow {
    top: 508px;
    bottom: 0;
    right: 0;
    left: 345px;
  }
}

@media screen and (max-width: 900px) {
  .team__prev-arrow {
    top: 490px;
    left: 230px;
  }
}

@media screen and (max-width: 600px) {
  .team__prev-arrow {
    background-size: 8px 18px;
    width: 8px;
    height: 18px;
    top: 104px;
    left: 80px;
  }
} 

/* .team__prev-arrow {
  top: 215px;
  left: 0;
}

@media screen and (max-width: 1150px) {
  .team__prev-arrow {
    top: 508px;
    bottom: 0;
    right: 0;
    left: 345px;
  }
}

@media screen and (max-width: 900px) {
  .team__prev-arrow {
    top: 490px;
    left: 230px;
  }
}

@media screen and (max-width: 600px) {
  .team__prev-arrow {
    top: 104px;
    left: 80px;
  }
} */