.pets__gallery-item {
  cursor: pointer;
  box-shadow: none;
  transition: box-shadow ease-out .5s;
}

.pets__gallery-item:hover {
  box-shadow: 0 0 10px 2px #5b595c;
}

@media screen and (max-width: 1100px) {
  .pets__gallery-item {
    display: block;
    position: absolute;
    transition: all 0.3s ease-in-out;
    z-index: 0;
  }
}