.qa__answer {
  margin: 0;
  width: 550px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.56;
  color: #ddd0c3;
  /*для аккордеона;*/
  padding-left: 42px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

@media screen and (max-width: 1000px) {
  .qa__answer {
    width: 380px;
  }
}

@media screen and (max-width: 600px) {
  .qa__answer {
    padding-left: 15px;
    width: 250px;
    font-size: 0.875rem;
    line-height: 1.42;
  }
}
