.qa__number {
  margin: 15px 40px 0 0;
  padding: 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 4.375rem;
  line-height: 1.17;
  color: #A07B50;
}

@media screen and (max-width: 1000px) {
  .qa__number {
    font-size: 3.125rem;
    line-height: 1.18;
    margin-right: 25px;
  }
}

@media screen and (max-width: 700px) {
  .qa__number {
    display: none;
  }
}