.qa__plus {
  background-image: url(../../../images/minus.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #A07B50;
  width: 104px;
  height: 110px;
}

@media screen and (max-width: 1000px) {
  .qa__plus {
    width: 73px;
    height: 76px;
  }
}

@media screen and (max-width: 600px) {
  .qa__plus {
    width: 43px;
    height: 60px;
  }
}