.review__info {
  margin: 0 auto;
  width: 460px;
  padding-left: 110px;
  background-color: #151313;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .review__info {
    width: 380px;
    padding-left: 80px;
  }
}

@media screen and (max-width: 900px) {
  .review__info {
    align-items: center;
    padding-left: 0;
    width: 540px;
  }
}

@media screen and (max-width: 600px) {
  .review__info {
    width: 290px;
    background-color: #181617;
  }
}
